* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Roboto', sans-serif;
	background-image: linear-gradient(205deg, #ef98ff 0, #bf83ff 25%, #8f6cd8 50%, #6355b0 75%, #3d408b 100%);
	
	animation: cambiar 2s ease-in-out infinite;
}

main {
	margin-top: 40px;
	margin-bottom: 40px;
	height: 100%;
	max-width: 800px;
	width: 85%;
}
.formulario__TITULO{
	text-align: center;
	margin-bottom: 0;
}
.formulario {
	padding: 16px 24px;
	border-radius: 16px;
	background: #f2f2f26c;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}
.formulario__label {
	display: block;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}
.formulario__grupo-input {
	position: relative;
}
.formulario__input {
	width: 100%;
	background: #fff;
	border: 3px solid transparent;
	border-radius: 3px;
	height: 45px;
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}
.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;
	box-shadow: 3px 0px 30px rgba(163,163,163, 0.4);
}
.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}
.formulario__input-error-activo {
	display: block;
}
.formulario__input-error {
	font-size: 12px;
	margin-bottom: 0;
	display: none;
}
.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px;
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}
.formulario__TITULO,
.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__range,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}
.formulario__mensaje {
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 3px;
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}
.formulario__grupo-terminos{
  display: flex;
  justify-content: center;
}
.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.formulario__btn {
	height: 45px;
	line-height: 45px;
	width: 30%;
	background: #000;
	color: #fff;
	font-weight: bold;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: .1s ease all;
}

.formulario__btn:hover {
	box-shadow: 3px 0px 30px rgba(163,163,163, 1);
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}
/* RANGO DE NIVEL DE EXPERIENCIA */
.label_range{
	padding: 0;
}
.formulario__range{
	justify-self: center;
	width: 80%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
  border-radius: 10px;
  padding: 0 65px 0 45px;
}
.sliderValue{
  position: relative;
  width: 100%;
}
.field{
  display: flex;
  align-items: center;
  justify-content: center;
	width: 100%;
  height: 100%;
  position: relative;
}
.formulario__range input{
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  background: #ddd;
  border-radius: 5px;
  outline: none;
  border: none;
}
.field .value{
  position: absolute;
  font-size: 18px;
  color: #000;
  font-weight: 600;
}
.field .value.left{
  left: -20px;
}
.field .value.right{
  right: -24px;
}
.sliderValue{

  position: relative;
  width: 100%;
}
.sliderValue span{
  position: absolute;
  height: 35px;
  width: 35px;
  transform: translateX(-60%) scale(0);
  font-weight: 500;
  top: -60px;
  line-height: 44px;
  z-index: 2;
  color: #fff;
	transform-origin: bottom;
	transition: transform 0.3s ease-in-out;
}
.sliderValue span.show{
  transform: translateX(-50%) scale(1);
}
.sliderValue span:after{
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  background-image: radial-gradient(circle at 79.88% -14.09%, #e394ff 0, #b981fb 25%, #8f6cd8 50%, #6857b4 75%, #464493 100%);
  border: 3px solid #fff;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  border-bottom-left-radius: 50%;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.formulario__range input::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #000;
  border: 1px solid #000;
  cursor: pointer;
}

.formulario__range .formulario__label{
	margin-top: 20px;
	margin-bottom: 40px;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #1ed12d;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}
/* ----- -----  Mediaqueries ----- ----- */
@media (max-width: 760px) {
	.formulario {
		grid-template-columns: 1fr;
	}
	.formulario__TITULO,
	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__range,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}
	.formulario__grupo-terminos{
		text-align: center;
	}
	.formulario__btn {
		width: 100%;
	}
	.formulario__range{
		padding: 0;
	}
}
@keyframes cambiar {
	0%{background-position: 0 50%;}
	50%{background-position: 100 50%;}
	100%{background-position: 0 50%;}
}